body   {
    margin: 0px;
    background-color: #947cd3;
}

a   {
    text-decoration: none;
}

a:hover   {
    text-decoration: underline;
}

header {
    padding: 0px;
}

.cabeceraPrincipal  {
    padding: 40px 10% 40px 10%;
    align-content: center;
    background-color: #4010bb;
}

.tituloPrincipal h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    margin: 0px 0px 40px 0px;
    color:black;
}

.tituloPrincipal h1 a {
    color:black;
}

.subtituloPrincipal h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 22px;
}

.menuPrincipal  {
    border: black solid 1px;
    align-content: center;
    text-align: center;
    background-color: #000000;
}

.menuPrincipal ul li {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline: 20px;
}

.menuPrincipal a {
    color: white;
}

main   {
    margin: 0% 10% 0% 10%;
}

.contenidoPrincipal {
    float: left;
    width: 65%;
}

section.entradaContenido   {
    padding-right: 20px;
    color: black;
}

.tituloContenido    {
    font-family: Arial;
    font-size: 22px;
    color:black;
}

.subtituloContenido {
    font-family: Arial;
    color:black;
    font-style: italic;
}

.subtituloContenido a{
    color:black;
    font-style: italic;
    text-decoration: underline;
}

.imagenContenido  img  {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textoContenido {
    font-family: Arial;
    text-align: justify;
}

.barraLateral   {
    float: right;
    width: 35%;
}

section.entradaLateral {
    padding-left: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

footer {
    clear: both;
    background-color: #000000;
    padding: 8px 10% 8px 10%;
}

.piePrincipal   {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
}